.background-GamePlay{
  background: url(../img/3.jpg) no-repeat; 
  background-size: cover;
}
/* holy grail 3 column settings */
  .holygrail .colmid {
      float:left;
      width:200%;
      margin-left:-200px;   /* Width of right column */
      position:relative;
      right:100%;
      /* Centre column */
  }
  .holygrail .colleft {
      float:left;
      width:100%;
      margin-left:-50%;
      position:relative;
      left:400px;           /* Left column width + right column width */
/* Left column */
  }
  .holygrail .col1wrap {
      float:left;
    width:50%;
    position:relative;
    right:200px;          /* Width of left column */
    padding-bottom:1em;   /* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
      margin:0 215px;       /* Centre column side padding:
                            Left padding = left column width + centre column left padding width
                            Right padding = right column width + centre column right padding width */
      position:relative;
    left:200%;
    overflow:hidden;
}
  .holygrail .col2 {
      float:left;
      float:right;      /* This overrides the float:left above */
      width:170px;          /* Width of left column content (left column width minus left and right padding) */
      position:relative;
      right:15px;           /* Width of the left-had side padding on the left column */
  }
  .holygrail .col3 {
      float:left;
      float:right;      /* This overrides the float:left above */
      width:170px;          /* Width of right column content (right column width minus left and right padding) */
      margin-right:45px;    /* Width of right column right-hand padding + left column left and right padding */
      position:relative;
      left:50%;
      height: 100vh;

  }