

h1 {
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Luckiest Guy", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px black, 0 0 40px black, 0 0 50px white, 0 0 75px white;
}

h2 {
  position: relative;
  line-height: 400px;
  margin: 100px;
  font: normal 30px/1 "Luckiest Guy", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px black, 0 0 40px black, 0 0 50px white, 0 0 75px white;
}

.head-text {
  margin: auto;
}

.main {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

.links {
  margin-bottom: 30px;
}

.back-button {
  float: right;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.winner .card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #02c93a;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin:0 auto;
  margin-bottom: 30px;
}

.user-score .card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin:0 auto;
  margin-top: 20px;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.question-box {
  border: black solid 2px;
  display: inline-block;
  padding: 20px;
}

.question {
  font-size: 15px;
  margin: 0;
}

.question-number {
  border: black solid 2px;
  display: inline-block;
  text-align: center;
  padding: 30px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 200px;
  z-index: 10;
  background-color: white;
}

.timer-number {
  border: black solid 2px;
  display: inline-block;
  text-align: center;
  padding: 30px;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 200px;
  z-index: 11;
  background-color: white;
}

.question-number-text {
  margin: 0;
  font-size: 20px;
}

.answers-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  padding-top: 60px;
}

.answer {
  flex: 1;
  border: 2px solid;
  padding: 100px 0;
}

.answer:nth-child(odd) {
  flex: 0 0 50%;
}

.user {
  border: black solid 2px;
  padding: 40px 15px 40px 15px;
  margin: 90px 0px;
  background-color: white;
}

body {
    margin:0;
    padding:0;
    border:0;     /* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#eee;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
          /* The min-width property does not work in old versions of Internet Explorer */
font-size:90%;
text-align:center;
}

/*wrapper styles */
.fixed #wrapper {
  width:800px;
  text-align:left;
  margin:0 auto;
}
.liquid #wrapper {
  width:100%;
  text-align:left;
  margin:0;
}

/* column container */
.colmask {
  position:relative;    /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
      width:100%;       /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail {
    background: navy;      /* Right column background colour */
}
  .holygrail .colmid {
      float:left;
      width:200%;
      margin-left:-200px;   /* Width of right column */
      position:relative;
      right:100%;
      background: url(../img/3.jpg) no-repeat;
      background-size: 100%;
      background-position: center center;
      /* Centre column background colour */
  }
  .holygrail .colleft {
      float:left;
      width:100%;
      margin-left:-50%;
      position:relative;
      left:400px;           /* Left column width + right column width */
      background: navy;     /* Left column background colour */
  }
  .holygrail .col1wrap {
      float:left;
    width:50%;
    position:relative;
    right:200px;          /* Width of left column */
    padding-bottom:1em;   /* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
      margin:0 215px;       /* Centre column side padding:
                            Left padding = left column width + centre column left padding width
                            Right padding = right column width + centre column right padding width */
      position:relative;
    left:200%;
    overflow:hidden;
}
  .holygrail .col2 {
      float:left;
      float:right;      /* This overrides the float:left above */
      width:170px;          /* Width of left column content (left column width minus left and right padding) */
      position:relative;
      right:15px;           /* Width of the left-had side padding on the left column */
  }
  .holygrail .col3 {
      float:left;
      float:right;      /* This overrides the float:left above */
      width:170px;          /* Width of right column content (right column width minus left and right padding) */
      margin-right:45px;    /* Width of right column right-hand padding + left column left and right padding */
      position:relative;
      left:50%;
      height: 630px;

  }