<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div class="row">
  <div class="word" id="el-1" data-text="LEGENDS">LEGENDS</div>
</div>
<div class="row">
  <div class="word" id="el-2" data-text="of">of</div>
</div>
<div class="row">
  <div class="word" id="el-3" data-text="T">T</div>
  <div class="word" id="el-4" data-text="R">R</div>
  <div class="word" id="el-5" data-text="I">I</div>
  <div class="word" id="el-6" data-text="V">V</div>
  <div class="word" id="el-7" data-text="I">I</div>
  <div class="word" id="el-8" data-text="A">A</div>
  <div id="clap"></div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomEase.min.js?r=9'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
