.row
  #el-1.word(data-text='LEGENDS') LEGENDS
.row
  #el-2.word(data-text='of') of
.row
  #el-3.word(data-text='T') T
  #el-4.word(data-text='R') R
  #el-5.word(data-text='I') I
  #el-6.word(data-text='V') V
  #el-7.word(data-text='I') I
  #el-8.word(data-text='A') A
  #clap