html body{
  background: #191C22;
  color: white;
}

img {
  opacity: 0.4;
}

img:hover {
  opacity: 1;
}

.navbar-default {
  background-color: #20293c;
  border-color: #163148;
}

.head-text {
  margin: auto;
     -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px black, 0 0 40px black, 0 0 50px white, 0 0 75px white;
}

.main {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

.links {
  margin-bottom: 30px;
}

.back-button {
  float: right;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.winner .card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #02c93a;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin:0 auto;
  margin-bottom: 30px;
}

.user-score .card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin:0 auto;
  margin-top: 20px;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 32px 0;
}

.gallery li {
    margin: 10px 10px;
    flex-basis: calc(50% - 20px);
}

.gallery img {
    width: 100%;
    height: auto;
}

.jumbotron {
  background: #163148;
  background-size: 100% 100%;
}

.modal-content {
  background: grey;
}

#front {
  background-color: #20293c;
  border-color: #163148;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.footer {
    margin-bottom: 20px;
    display: block;
    color: #666;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}
